<h3 class="mb-0">Sản phẩm</h3>
<div class="d-flex gap-2">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCreate">+ Thêm sản phẩm</button>
    <button id="btnBulkDelete"
            class="btn btn-danger"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modalDelete"
            data-bulk="true"
            disabled>
        Xóa đã chọn
    </button>
</div>