<h3 class="mb-0">Sản phẩm</h3>
<div class="d-flex gap-2 align-items-center">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCreate">+ Thêm sản phẩm</button>
    <button id="btnBulkDelete"
            class="btn btn-danger"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modalDelete"
            data-bulk="true"
            disabled>
        Xóa đã chọn
    </button>
    <button id="btnExportCsv" type="button" class="btn btn-outline-success">Xuất CSV</button>

    <div class="d-flex align-items-center ms-2">
        <input id="importFile" type="file" accept=".xlsx,.csv" class="form-control form-control-sm" style="width:220px" />
        <button id="btnImportExcel" type="button" class="btn btn-outline-primary btn-sm ms-2">Import</button>
    </div>
</div>