@{
    Layout = "_Layout";
    ViewData["Title"] = "Sản phẩm";
}
@model SPMH.Services.Models.PagedResult<SPMH.Services.Models.ProductModel>

<div class="mb-2">
    @Html.Partial("~/Views/Shared/Account/_AccountName.cshtml")
</div>

<!-- Thanh Toolbar -->
<div class="d-flex align-items-center justify-content-between mb-3">
    @Html.Partial("~/Views/Shared/Product/_ProductToolBar.cshtml")
</div>
<!-- Thanh tìm kiếm -->
<div class="card mb-2">
    @Html.Partial("~/Views/Shared/Product/_ProductSearchFilter.cshtml")
</div>

<div id="productTableWrap">
    @await Html.PartialAsync("~/Views/Shared/Product/_ProductTable.cshtml", Model)
</div>